body {
    /*background-image: url('../img/whitespots.png');
    background-size: cover;*/
}

/*header styling*/
.img-circle {
    width: 15%;
    
}

.text-vertical-center {
    color: white;
}

.foot {
    /*background-image: url('../img/whitespots.png');
    background-size: cover;*/
    background-color: #FFE8E8;
    padding: 10px;
}

#project1 {
    background-image: url('../img/reviewsite.PNG');
    background-size: cover;
    margin: 0 auto;
    width: 50%;
}

p {
    margin-top: -15px;
    margin-bottom: 25px;
}

h4 {
    padding: 10px;
    margin: 0px;
}
h5 {
    padding: 10px;
    margin: 0px;
    margin: 0 auto;
}
h6 {
    padding: 10px;
    margin: 0 auto;
}

